/* Universal Styles */

html {
    font-family: Verdana, sans-serif;
    background-color: black;
    font-size: 16px;
    color: white;
    justify-content: center;
}

.main-content {
    position: relative;
}

.center {
    text-align: center;
}

.image-container {
    overflow: hidden;
}

a {
    color: aquamarine;
}

.left {
    text-align: right;
}

/* First Section */

#first-section {
    display: inline-block;
    justify-content: center;
    margin: auto;
}

#first-section h1 {
    font-size: 50px;
    font-weight: normal;
}

#first-section .image-container {
    margin: auto;
    justify-content: center;
    max-width: 500px;
    padding-top: 40px;
}


/* Second Section */

#second-section {
    display: inline-block;
    justify-content: center;
    margin: auto;
}

#second-section h2 {
    font-size: 42px;
    font-weight: 300;
}

#second-section span {
    font-size: 21px;
    color: gray;
    padding-bottom: 40px;
}

#second-section .image-container {
    flex: 1;
    margin: auto;
    justify-content: center;
    padding-top: 40px;

}

/* Coming Soon Section */

#coming-section {

    justify-content: center;
    margin: auto;
    padding-top: 40px;
}

/* Footer Section */

#footer {
    display: block;
    margin: auto;
    padding-top: 40px;
}

.copyright-info span {
    justify-content: right;
    text-align: right;
    font-weight: 300;
    margin: auto;
}